// Custom Bootstrap variable overrides go first
$primary: #ba0c2f;
$red: #ba0c2f;
$active: ba0c2f;

// Then include the following
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';